{% extends "base.html" %}
{% load static %}

{% block title %}News Single{% endblock %}

{% block content %}

    <!-- Breaking News Start -->
    <div class="container-fluid mt-5 mb-3 pt-3">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-12">
                    <div class="d-flex justify-content-between">
                        <div class="section-title border-right-0 mb-0" style="width: 180px;">
                            <h4 class="m-0 text-uppercase font-weight-bold">Son Xəbərlər</h4>
                        </div>
                        <div class="owl-carousel tranding-carousel position-relative d-inline-flex align-items-center bg-white border border-left-0"
                            style="width: calc(100% - 180px); padding-right: 100px;">
                            {% for news in breaking_news %}
                                <div class="text-truncate">
                                    <a class="text-secondary text-uppercase font-weight-semi-bold" href="{{ news.link }}">
                                        {{ news.title }}
                                    </a>
                                </div>
                            {% empty %}
                                <div class="text-truncate">
                                    <span class="text-secondary">Hazırda heç bir xəbər yoxdur</span>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Breaking News End -->


    <!-- News With Sidebar Start -->
    <div class="container-fluid">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <!-- News Detail Start -->
                    <div class="position-relative mb-3">
                        <img class="img-fluid w-100" src="{{ latest_news.image.url }}" style="object-fit: cover;">
                        <div class="bg-white border border-top-0 p-4">
                            <div class="mb-3">
                                <a class="badge badge-primary text-uppercase font-weight-semi-bold p-2 mr-2"
                                    href="">{{ latest_news.category }}</a>
                                <a class="text-body" href="">{{ latest_news.created_at|date:"M d, Y" }}</a>
                            </div>
                            <h1 class="mb-3 text-secondary text-uppercase font-weight-bold">{{ latest_news.title }}</h1>
                            <p>{{ latest_news.content }}</p>
                        </div>
                        <div class="d-flex justify-content-between bg-white border border-top-0 p-4">
                            <div class="d-flex align-items-center">
                                <span>{{ latest_news.author }}</span>
                            </div>
                        </div>
                    </div>
                    <!-- News Detail End -->

                    <!-- Comment List Start -->
                    <div class="mb-3">
                        <div class="section-title mb-0">
                            <h4 class="m-0 text-uppercase font-weight-bold">{{ comments|length }} Comments</h4>
                        </div>
                        <div class="bg-white border border-top-0 p-4">
                            {% for comment in comments %}
                            <div class="media mb-4">
                                <div class="media-body">
                                    <h6><a class="text-secondary font-weight-bold" href="">{{ comment.name }}</a>
                                        <small><i>{{ comment.created_at|date:"d M Y" }}</i></small></h6>
                                    <p>{{ comment.message }}</p>
                                </div>
                            </div>
                            {% empty %}
                            <p>Hələ şərh yoxdur. İlk şərh yazan siz olun!</p>
                            {% endfor %}
                        </div>
                    </div>
                    <!-- Comment List End -->

                    <!-- Comment Form Start -->
                    <div class="mb-3">
                        <div class="section-title mb-0">
                            <h4 class="m-0 text-uppercase font-weight-bold">Şərh buraxın</h4>
                        </div>
                        <div class="bg-white border border-top-0 p-4">
                            <form method="POST">
                                {% csrf_token %}
                                <div class="form-row">
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label for="name">Ad </label>
                                            <input type="text" class="form-control" id="name" name="name" required>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label for="email">Email </label>
                                            <input type="email" class="form-control" id="email" name="email" required>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="website">Website</label>
                                    <input type="url" class="form-control" id="website" name="website">
                                </div>
                                <div class="form-group">
                                    <label for="message">Mesaj *</label>
                                    <textarea id="message" cols="30" rows="5" class="form-control" name="message" required></textarea>
                                </div>
                                <div class="form-group mb-0">
                                    <input type="submit" value="Leave a comment" class="btn btn-primary font-weight-semi-bold py-2 px-3">
                                </div>
                            </form>
                        </div>
                    </div>
                    <!-- Comment Form End -->
                </div>

                <div class="col-lg-4">
                    <!-- Social Follow Start -->
                    <div class="mb-3">
                        <div class="section-title mb-0">
                            <h4 class="m-0 text-uppercase font-weight-bold">Bizi İzləyin</h4>
                        </div>
                        <div class="bg-white border border-top-0 p-3">
                            {% for social in SOCIAL_LINKS %}
                                <a href="{{ social.url }}" class="d-block w-100 text-white text-decoration-none mb-3" style="background: {{ social.color }};">
                                    <i class="{{ social.icon }} text-center py-4 mr-3" style="width: 65px; background: rgba(0, 0, 0, .2);"></i>
                                    <span class="font-weight-medium">{{ social.followers }}</span>
                                </a>
                            {% endfor %}
                        </div>
                    </div>
                    <!-- Social Follow End -->


                    <!-- Ads Start -->
                    <div class="mb-3">
                        <div class="section-title mb-0">
                            <h4 class="m-0 text-uppercase font-weight-bold">Elanlar</h4>
                        </div>
                        <div class="bg-white text-center border border-top-0 p-3">
                            <a href=""><img class="img-fluid" src="img/news-800x500-2.jpg" alt=""></a>
                        </div>
                    </div>
                    <!-- Ads End -->

                    <!-- Trending News Start -->
                    <div class="mb-3">
                        <div class="section-title mb-0">
                            <h4 class="m-0 text-uppercase font-weight-bold">Populyar xəbərlər</h4>
                        </div>
                        <div class="bg-white border border-top-0 p-3">
                            {% for news in news_list %}
                            <div class="d-flex align-items-center bg-white mb-3" style="height: 110px;">

                                <div class="w-100 h-100 px-3 d-flex flex-column justify-content-center border border-left-0">
                                    <div class="mb-2">
                                        <a class="badge badge-primary text-uppercase font-weight-semi-bold p-1 mr-2" href="">{{ news.category }}</a>
                                        <a class="text-body" href=""><small>{{ news.published_date }}</small></a>
                                    </div>
                                    <a class="h6 m-0 text-secondary text-uppercase font-weight-bold"
                                        href="{% url 'core:PopularNews_detail' news.id %}">{{ news.title }}
                                    </a>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                    <!-- Trending News End -->

                    <!-- Newsletter Start -->
                    <div class="mb-3">
                        <div class="section-title mb-0">
                            <h4 class="m-0 text-uppercase font-weight-bold">Xəbər icmalı</h4>
                        </div>
                        <div class="bg-white text-center border border-top-0 p-3">
                            <p>Bizim yeniliklərdən xəbərdar olmaq üçün abunə olun</p>
                            <form action="{% url 'core:newsletter_signup' %}" method="POST">
                                {% csrf_token %}
                                <div class="input-group mb-2" style="width: 100%;">
                                    <input type="email" name="email" class="form-control form-control-lg" placeholder="E-poçt adresiniz" required>
                                    <div class="input-group-append">
                                        <button type="submit" class="btn btn-primary font-weight-bold px-3">Abunə ol</button>
                                    </div>
                                </div>
                            </form>
                            <small>Bizim yeniliklərdən xəbərdar olun</small>
                        </div>
                    </div>
                    <!-- Newsletter End -->


                    <!-- Tags Start -->
                    <div class="mb-3">
                        <div class="section-title mb-0">
                            <h4 class="m-0 text-uppercase font-weight-bold">Teqlər</h4>
                        </div>
                        <div class="bg-white border border-top-0 p-3">
                            <div class="d-flex flex-wrap m-n1">
                                {% for category in CATEGORIES %}
                                    <span class="btn btn-sm btn-secondary m-1">{{ category }}</span>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                    <!-- Tags End -->
                </div>
            </div>
        </div>
    </div>
    <!-- News With Sidebar End -->


{% endblock %}